/* Fonte: Popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte: Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Fonte: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* .linha-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: red;
    z-index: 9999;
}
    */
/* .ret {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - (20rem / 2));
    width: 20rem;
    background-color: red;
    opacity: 35%;
    z-index: 9999;
} */

:root{
    /* Paleta de Cores */
    --primaria: #1c3fdb;
    --secundaria: #102dad;
    --terciaria: #0d248b;
    --destaque: #6d6d6d;
    --detalhes: #fbfbfb;
    --branco: #fbfbfb;
    --preto: #0c0c0c;
    --hover-padrao: #f1f1f1;
    --sem-conteudo: #d1d1d1;

    /* Espaçamento */
    --esp-minimo: 0.2rem;
    --esp-pequeno: 0.5rem;
    --esp-medio: 0.8rem;
    --esp-grande: 1.2rem;
    --esp-enorme: 2rem;


    /* Tamanhos de Fonte */
    --fon-minimo: 0.5em;
    --fon-pequeno: 0.7em;
    --fon-medio: 1.2em;
    --fon-grande: 1.8em;
    --fon-enorme: 2em;
}

* {
    box-sizing: border-box;

    /* Para debug */
/*     border: 1px solid red; */
}


html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Poppins', "Nunito", "Raleway", "Noto Sans", sans-serif;
    background-color: #FFFFFF;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.layout{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--branco);
    padding: var(--esp-pequeno);
    font-size: var(--fon-medio);
}

.layout#header{
    gap: var(--esp-pequeno);
}

.conteudo-header{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.container-interacoes{
    display: flex;
    align-items: center;
}

.link-header{
    display: none;
}

.icone, .logo{
    width: 40px;
    height: 40px;
}

.icone#menu-paginas{
    width: 35px;
}

.banner{
    background-color: var(--sem-conteudo);
    margin-bottom: var(--esp-enorme);
    padding: var(--esp-medio);
    width: 100%;
}

.titulo-banner, .texto-banner{
    color: #FFFFFF;
}

.titulo-banner{
    font-size: var(--fon-grande);
    text-align: center;
}

.texto-banner{
    font-family: 'Nunito', sans-serif;
    font-size: var(--fon-medio);
}

.container-cards{
    display: block;
    margin: auto;
    padding: 0px var(--esp-grande);
}

.card{
    display: block;
    margin: auto;
    margin-bottom: var(--esp-enorme);
    width: 85%;
    box-shadow: 2px 2px var(--terciaria);
}

.card#agendar{
    background: linear-gradient(to right, var(--primaria), var(--secundaria));
    border-radius: 15px;
    padding: var(--esp-grande);
}

.titulo-card, .texto-card, #numero-contato{
    color: #FFFFFF;
}

.titulo-card{
    font-size: var(--fon-grande);
    margin: var(--esp-medio) 0px;
    margin-bottom: var(--esp-minimo);
}

.texto-card, .container-contato{
    padding-left: var(--esp-medio);
}

.texto-card{
    margin: 0px;
    margin-bottom: var(--esp-medio);
}

.container-contato{
    display: flex;
    align-items: center;
    gap: var(--esp-pequeno);
}

.icone#WhatsApp{
    width: 35px;
    height: 35px;
}

#numero-contato{
    font-weight: 600;
    font-size: var(--fon-medio);
    text-decoration: none;
}

#numero-contato:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#h2-tratamentos{
    font-size: var(--fon-enorme);
    margin-bottom: var(--esp-pequeno);
    font-weight: 600;
}


.container-tratamentos{
    display: block;
    position: relative;
    margin: var(--esp-medio) auto;
    margin-bottom: var(--esp-enorme);
    width: 100%;
    height: min-content;
}

.carrosel {
    display: grid;
    max-width: fit-content;
    height: fit-content;
    grid-auto-flow: column;
    place-items: center;
    justify-content: baseline;
    gap: var(--esp-enorme);
    overflow: auto;
    padding: var(--esp-minimo);
    margin-left: calc(50% - (20rem/2));
    margin-right: calc(50% - (20rem/2));
    padding: 0;
    scroll-behavior: smooth;
}

.carrosel::-webkit-scrollbar{
    display: none;
}

.botao-carrosel{
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: #f1f1f1;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.botao-carrosel .icone{
    width: 2rem;
    height: 2rem;
    margin: auto;
}

.botao-carrosel#anterior{
    left: 5px;
}

.botao-carrosel#proximo{
    right: 5px;
}

.card.tratamentos{
    position: relative;
    width: 20rem;
    height: 20rem;
    box-shadow: none;
    border: 1.5px groove var(--preto);
    padding: var(--esp-enorme) calc(1.5 * var(--esp-grande));
    border-radius: 10px;
    margin: 0;
}

.titulo-tratamento{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: var(--fon-grande);
    color: var(--secundaria);
    text-align: center;
    margin: 0;
    padding: 0;
}

.texto-tratamento{
    text-align: justify;
    margin: 0;
    margin-bottom: var(--esp-grande);
    padding: var(--esp-minimo) var(--esp-grande);
}

.container-botao{
    display: flex;
    justify-content: center;
    position: absolute;
}

.container-botao.saibamais{
    bottom: calc(var(--esp-enorme) * 1.5);
    transform: translateX(-50%);
    left: 50%;
}

.botao{
    text-decoration: none;
    color: #FFFFFF;
    width: 8em;
    background-color: var(--primaria);
    padding: var(--esp-pequeno);
    border-radius: 50px;
    font-weight: 350;
    font-size: var(--fon-medio);
    text-align: center;
}

.botao:hover{
    background-color: var(--secundaria);
}

.botao:active{
    width: 7.95em;
    font-size: calc(var(--fon-medio) * 0.99);
}

.container-cartoes{
    display: flex;
    flex-direction: column;
    gap: var(--esp-grande);
}

.card-convidativo, .cartao{
    margin: 0;
    padding: 0;
}

.card-convidativo{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.etiqueta-card{
    background-color: var(--primaria);
    color: var(--branco);
    position: relative;
    width: fit-content;
    align-content: center;
    height: 4rem;
    text-align: center;
    border-radius: 15px;
    padding: 0;
    top: 40px;
    left: 5%;
}

.topico-etiqueta{
    padding: 0;
    margin: 0px 30px;
    font-size: var(--fon-grande);
}

.cartao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: min-content;
}

.cartao .conteudo-cartao{
    display: flex; 
    position: relative;
    width: 50%;
    height: 18rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-cartao .texto-card{
    font-size: calc(var(--fon-medio) * 0.8);
}

.cartao p{
    color: var(--preto);
    padding: var(--esp-enorme);
    font-size: calc(var(--fon-medio) * 0.8);
    text-align: justify;
}

.cartao img{
    width: 50%;
    height: 15rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    object-position: -65px;
    margin: 0;
}

.container-botao.vermais{
    width: 8rem;
    font-size: calc(var(--fon-pequeno) * 1.5);
    bottom: 5px;
}

@media screen and (min-width: 768px) {

    .link-header{
        display: flex;
        transition: all .3s ease;
        text-decoration: none;
        color: var(--secundaria);
        margin: 0px var(--esp-pequeno);
    }
    
    .link-header:hover{
        text-decoration: underline;
        text-decoration-color: var(--secundaria);
        text-decoration-thickness: 1.5px;
        cursor: pointer;
    }

    .link-header:visited{
        color: var(--secundaria);
    }
}

@media screen and (min-width: 992px) {
    .link-header{
        margin: 0px var(--esp-medio);
    }

    .titulo-banner{
        font-size: var(--fon-enorme);
    }

    #h2-tratamentos{
        font-size: var(--fon-enorme);
    }
}